/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Sarahbreiding.com CSS */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
}

.wrapper, html, body {
  height: 100%;
  margin: 0;
}

.main-content {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

.flex-item-1 {
  flex-direction: column;
}

.flex-item-1, .flex-item-4 {
  background-color: #dedede;
}

.about-header {
  font-size: 4.5em;
}

.about-text {
  font-size: 1.5em;
  text-align: center;
}

.about-text p {
  margin: 20px 0;
}

.hidden {
  display: none;
}

.showAboutText {
  box-shadow: inset 0px -15px 0px 0px #efef67;
  transition: all 1s;
  width: 100%;
}

.flex-item-1:hover, .flex-item-4:hover, .flex-item-1:focus, .flex-item-4:focus, .flex-item-1:active, .flex-item-4:active {
  background-color: #f6f6f6;
  cursor: pointer;
}

.flex-item-2 {
  background-color: #efef67;
  overflow: hidden;
}

.flex-item-2 p {
  font-size: 1.8em;
}

.social-media-section a:hover {
  opacity: .75;
}

.hideSocialMedia {
  transition: all 1s;
  width: 0%;
}

.flex-item-3 {
  background-color: #fff;
  overflow: hidden;
}

.flex-item-4 h1 {
  font-size: 4.5em;
}

.flex-item-4 img {
  max-height: 80px;
  margin: .1em;
}

.showWorkExamples {
  box-shadow: inset 0px 15px 0px 0px #efef67;
  width: 100%;
  transition: all 1s;
}

.work-examples {
  text-align: center;
  margin-right: 10%;
}

.work-examples p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.moveWorkHeader {
  transform: rotate(-90deg);
  transition: all 1s;
}

.hideRubyTop {
  width: 0;
  transition: all 1s;
}

.contact-handle {
  background-color: #555B68;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: -62.5px;
  margin-top: -31px;
  padding: 10px 25px;
  text-align: center;
  width: 73px;
  position: relative;
  left: 50%;
}

.contact-form-section {
  background-color: #555B68;
  color: #fff;
  height: 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.hidden-contact-section {
  display: none;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 3em;
}

.slideUp {
  height: 75%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.slideDown {
  height: 1em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

input, textarea {
  background-color: #7F889D;
  border: #434343 .5px solid;
  color: #fff;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 45%;
}

textarea {
  height: 80px;
}

::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

input:focus, textarea:focus {
  color: #fff;
}

.get-in-touch {
  margin: 30px;
}

.submit-button {
  background-color: #efef67;
  border: #434343 .5px solid;
  color: #434855;
  font-size: 14px;
  padding: 10px;
  width: 25%;
}


/****************Responsive Styles**********/

@media screen and (max-width: 680px){
  /*.showWorkExamples {
    height: 100%;
  }*/
  .flex-item-4 img {
    max-height: 50px;
  }
  /*.languageLogos {
    display: none;
  }
  .languageLogosVertical{
    display: block;
    margin-bottom: 60px;
  }*/
  /*.moveWorkHeader {
    transform: rotate(0deg);
    transition: all 1s;
  }*/
}

@media screen and (max-width: 500px) {
  .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4 {
    flex-basis: 500px;
  }
  .showAboutText {
    height: 100%;
  }
  .showWorkExamples {
    border: none;
    height: 100%;
  }
  .hideRubyTop {
    height: 0%;
  }
  .moveWorkHeader {
    transform: rotate(0deg);
    transition: all 1s;
  }
  .flex-item-4 {
    flex-direction: column;
  }
  input, textarea {
    margin: 11px 0 3px 60px;
    width: 55%;
  }
}

/*@media screen and (max-height: 700px) and (min-height: 600px) and (min-width: 501px){
  .slideUp {
    height: 90%;
  }
  .get-in-touch {
    margin: 10px;
  }
}*/

@media screen and (max-height: 599px) {
  .flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4 {
    height: 100%;
  }
  .slideUp {
    height: 90%;
  }
  .get-in-touch {
    margin: 3%;
  }
  input, textarea {
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 14px;
  }
  textarea {
    height: 60px;
  }
}

@media screen and (max-height: 350px){
  .get-in-touch {
    margin: 1%;
  }
}
