body {
  background: #f7f6f4 url('self.jpg') no-repeat bottom right fixed;
  background-size: contain;
  color: #31413b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 3em;
  margin: 15% 4.5%;
}

.main-content {
  width: 50%;
}

h1 {
  font-size: 3rem;
  margin: 5% 0 0 0;
}

.personal {
  font-size: 2rem;
  margin: 5% 0 0 0;
}

.highlight-color {
  color: #49694c;
  display: inline-block;
  font-family:'Cookie',cursive;
  font-size: 1.75em;
  text-shadow: 1px 1px 1px #449634;
}

.contact-icons {
  margin: 8% 0 0 0;
}

.contact-icons svg {
  margin: 0 3% 0 0;
}

#mailIcon:hover, #linkedInIcon:hover{
  fill: #40c751;
}

.close-form {
  color: #608c70;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 15px;
  text-align: center;
  vertical-align: top;
}

.close-form:hover {
  color: #40c751;
}

input, textarea {
  display: block;
  padding: 1%;
  width: 97%;
}

.hidden {
  display: none;
}

.contact-form-section {
  background: #dee0d1;
  box-shadow: 0px 20px 32px 30px #54545466;
  padding: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.field {
  margin-bottom: 20px;
}

.field label {
  font-size: 1.3em;
}

.submit-button {
  background: #608c70;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ababab;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1%;
  width: 11em;
}

.submit-button:hover {
  background: #40c751;
}

.response {
  font-size: 1.5em;
}

@media only screen and (max-width: 1080px) {
  body {
    background: #f7f6f4;
  }

  .main-content:before {
    background: #f7f6f4  url('self.jpg') top center no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 500px;
  }

  .main-content {
    width: 100%;
  }
}

