<p style="font-size: 1.2em;">Message received from website contact form.</p>

<h3 style="border-top: solid 1px #e3e3e3; padding-top: .7em;">Name</h3>
<p><%= params[:name] %></p>

<h3 style="border-top: solid 1px #e3e3e3; padding-top: .7em;">Email</h3>
<p><%= params[:email] %></p>

<h3 style="border-top: solid 1px #e3e3e3; padding-top: .7em;">Message</h3>
<% email_message = Maruku.new params[:message] %>
<%= email_message.to_html %>