<h1>Portfolio</h1>

<p>These are a few examples of my graduate coursework while completing my Masters in Library and Information Science.</p>

<h2>INFO 657 Digital Library Technologies</h2>
<p><a href="http://ux.sarahbreiding.com">Digital Library Prototype</a></p>
<p>Using the Open Source CMS, Drupal, I designed and developed a digital library prototype on the subject of user experience design.</p>

<h2>INFO 658 Information Architecture</h2>
<p><a href="documents/MobileApplicationReport.pdf">Mobile Application Report</a></p>
<p>This is a group report on our development of a mock mobile application. Employing the user-centered design process, we conducted user surveys and market research and created blueprints and conceptual design wireframes to develop a task management mobile application.</p>

<h2>INFO 896 Practicum I</h2>
<p><a href="documents/UXrubric.pdf">User Experience Analysis Rubric</a></p>
<p>I developed this rubric during my Practicum to critically analyze the user experience design of library websites and mobile websites.</p>

<h2>INFO 622 Content Representation</h2>
<p><a href="documents/MarathonThesaurus.pdf">Marathon Prototype Thesaurus</a></p>
<p>I created this prototype thesaurus which adheres to ANSI/NISO Thesaurus Standard Z39.19-2003 and covers marathon running and training.</p>

<h2>INFO 521 Information Services and Users</h2>
<p><a href="documents/IPLReferenceServicesLog.pdf">Internet Public Library Reference Services Log</a></p>
<p>This is a log of the digital reference services I provided to patrons of the Internet Public Library.</p>

<h2>INFO 520 Social and Professional Context of Information Professionals</h2>
<p><a href="documents/DigitalStorytelling.pdf">Digital Storytelling Grant Proposal</a></p>
<p>This is a hypothetical grant proposal to develop a digital storytelling program for a public library to help foster a sense of community among diverse cultural groups.</p>
