<h1>Portfolio</h1>

<p>These are a few examples of my graduate coursework while completing my Masters in Library and Information Science.</p>
<ul>
	<li>
		<strong>INFO 657 Digital Library Technologies</strong>
		<ul>
			<li>
				<a href="http://ux.sarahbreiding.com">Digital Library Prototype</a>
			</li>
		</ul>
		<span>Using the Open Source CMS, Drupal, I designed and developed a digital library prototype on the subject of user experience design.
		</span>
	
	</li>
	<li><strong>INFO 658 Information Architecture</strong>
		<ul>
			<li><a href="documents/MobileApplicationReport.pdf">Mobile Application Report</a></li>							
		</ul>
		<span>This is a group report on our development of a mock mobile application. Employing the user-centered design process, we conducted user surveys and market research and created blueprints and conceptual design wireframes to develop a task management mobile application.</span>

	</li>
	<li><strong>INFO 896 Practicum I</strong>
		<ul>
			<li><a href="documents/UXrubric.pdf">User Experience Analysis Rubric</a></li>
		</ul>
		<span>I developed this rubric during my Practicum to critically analyze the user experience design of library websites and mobile websites.</span>
	</li>	
	<li><strong>INFO 622 Content Representation</strong>
 		<ul>
 			<li><a href="documents/MarathonThesaurus.pdf">Marathon Prototype Thesaurus</a></li>					 		
 		</ul>
 		<span>I created this prototype thesaurus which adheres to ANSI/NISO Thesaurus Standard Z39.19-2003 and covers marathon running and training.</span>
	</li>	
	<li>
 		<strong>INFO 521 Information Services and Users</strong>
 		<ul>
 			<li><a href="documents/IPLReferenceServicesLog.pdf">Internet Public Library Reference Services Log</a></li>
 		</ul>
 		<span>This is a log of the digital reference services I provided to patrons of the Internet Public Library.</span>
 	</li>
	<li>
		<strong>INFO 520 Social and Professional Context of Information Professionals</strong>
		<ul>
			<li>
				<a href="documents/DigitalStorytelling.pdf">Digital Storytelling Grant Proposal</a>
			</li>
		</ul>
		<span>This is a hypothetical grant proposal to develop a digital storytelling program for a public library to help foster a sense of community among diverse cultural groups. 
		</span>
 	</li>
 </ul>