---
title: About | Sarah Breiding
slug: about
---

<h1>About</h1>

<img class="alignright" src="/images/SarahAbout-bw.jpg" title="Sarah Breiding" alt="Sarah Breiding" width="300" height="247" />

<p>I grew up outside of Philadelphia, Pennsylvania, but have lived in Washington, DC, Prague, Japan, and currently Atlanta, Georgia. I work in a public library just outside of Atlanta, and I have recently graduated from Drexel University with a Masters in Library and Information Science and a concentration in Digital Libraries. I obtained my Bachelor's in International Studies from American University.</p>

<p>I was drawn to the information profession by my passion for knowledge and research. My enthusiasm for technology led me to a concentration  in Digital Libraries. I am excited about the changing nature of the information profession, and I am eager to be a contributor to it. I hope to work in furthering communication and education through the innovative use of technology in traditional library services.</p>

<p>My hobbies are knitting, yoga, and running. My interests include user experience design, foreign cultures, history, and pets.</p>
