---
title: Contact | Sarah Breiding
slug: contact
---

<h1>Contact</h1>

<p>Please contact me through the form below.</p>

<noscript>
  <div class="response invalid">This contact form requires JavaScript. Please enable JavaScript and refresh the page.</div>
</noscript>

<form id="contact-form" class="contact-form clearfix">

    <fieldset class="name-group clearfix">
        <label for="name">Name</label>
        <input name="name" type="text" class="default contact-input" placeholder="Name" />
        <div class="error-message">Please enter your name</div>
    </fieldset>

    <fieldset class="email-group clearfix">
        <label for="email">Email</label>
        <input name="email" type="text" class="default contact-input" placeholder="Email" />
        <div class="error-message">Please enter your email</div>
    </fieldset>

    <fieldset class="message-group clearfix">
        <label for="message">Message</label>
        <textarea name="message" class="default contact-input" placeholder="Message"></textarea>
        <div class="error-message">Please enter message</div>
    </fieldset>

    <button type="submit" name="submit">Send Message</button>

</form>

<%= javascript_include_tag 'all' %>
