---
title: Sarah Breiding | Digital Library &amp; Information Professional
slug: home
---

<div class="home-content">

    <h1>Digital Library &amp; Information Professional</h1>

    <p>As an information professional I have a passion for technology. I strive to incorporate user-oriented and innovative resources into library services.</p>

</div>

<div class="callouts clearfix">

    <div class="column column1">
        <h2>
            <a href="/about">
                <span class="tree"></span>
                About
            </a>
        </h2>
        <p>More about my education, experience, and areas of interest.</p>
    </div>

    <div class="column column2">
        <h2>
            <a href="/portfolio">
                <span class="tree"></span>
                Portfolio
            </a>
        </h2>
        <p>A few samples of my work.</p>
    </div>

    <div class="column column3">
        <h2>
            <a href="/contact">
                <span class="tree"></span>
                Contact
            </a>
        </h2>
        <p>Questions or comments? Please get in touch.</p>
    </div>

</div>
