---
title: Portfolio | Sarah Breiding
slug: portfolio
---

<h1>Portfolio</h1>

<p>These are a few examples of my graduate coursework while completing my Masters in Library and Information Science.</p>

<h2><a href="http://ux.sarahbreiding.com" target="_blank">Digital Library Prototype</a></h2>
<p class="class">INFO 657 Digital Library Technologies</p>
<p>Using the Open Source CMS, Drupal, I designed and developed a digital library prototype on the subject of user experience design.</p>

<h2><a href="/docs/MobileApplicationReport.pdf" target="_blank">Mobile Application Report</a></h2>
<p class="class">INFO 658 Information Architecture</p>
<p>This is a group report on our development of a mock mobile application. Employing the user-centered design process, we conducted user surveys and market research and created blueprints and conceptual design wireframes to develop a task management mobile application.</p>

<h2><a href="/docs/UXrubric.pdf" target="_blank">User Experience Analysis Rubric</a></h2>
<p class="class">INFO 896 Practicum I</p>
<p>I developed this rubric during my Practicum to critically analyze the user experience design of library websites and mobile websites.</p>

<h2><a href="/docs/MarathonThesaurus.pdf" target="_blank">Marathon Prototype Thesaurus</a></h2>
<p class="class">INFO 622 Content Representation</p>
<p>I created this prototype thesaurus which adheres to ANSI/NISO Thesaurus Standard Z39.19-2003 and covers marathon running and training.</p>

<h2><a href="/docs/IPLReferenceServicesLog.pdf" target="_blank">Internet Public Library Reference Services Log</a></h2>
<p class="class">INFO 521 Information Services and Users</p>
<p>This is a log of the digital reference services I provided to patrons of the Internet Public Library.</p>

<h2><a href="/docs/DigitalStorytelling.pdf" target="_blank">Digital Storytelling Grant Proposal</a></h2>
<p class="class">INFO 520 Social and Professional Context of Information Professionals</p>
<p>This is a hypothetical grant proposal to develop a digital storytelling program for a public library to help foster a sense of community among diverse cultural groups.</p>
